.speaker-carousel {
    overflow: hidden;
    white-space: nowrap;
    height: 100px;
    width: 330px;
    text-indent: 0;
    padding: 0;
    outline: 1px solid blue;
}
.speaker-carousel li {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: #333;
    list-style-type: none;
    margin: 5px;
}